body{background-image: url(/assets/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    


}
#myhead{
    color: red;
    background-color: blue;
    font-family:"Original Surfer", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration:  cyan dotted underline;
}
.navy{

    color: goldenrod;

}
.ABOUT{
    border-style: outset;
    border-width: 5px;
    border-color: blueviolet;
    border-end-end-radius: 10px;
    padding: 4px;

}
.work{
    border-top-style: double;
    border-bottom-style: double;
    border-left-style: groove;
    border-left-width: 10px;
    border-left-color: greenyellow;
    margin-top: 10px;
}
.resume{background:linear-gradient(to left,white, lightblue);
    background-repeat: no-repeat;
    

}
#box1{
    border: 5px solid;
    width: 250px;
    height:250px;
    font-size: 22px;
    background-color: bisque;
    
}
#box2{
    border: 5px solid;
    width: 100px;
    height:100px;
    font-size: 5px;
    background-color: gold;
}
a:link{
    color: aquamarine;
}
a:visited{
    color: grey;

}
a:hover{
    color: tomato;
}
a:active{
    color: yellow;
}
button:hover{
    background-color:blue
}
button:active{
    background-color: bisque;
}

nav:hover{
    color: brown;
}

li:nth-child(1){
    background-color
    : red

}

